In [3]:
import re
import numpy as np
import pandas as pd
# from bs4 import BeautifulSoup
# from nltk.corpus import stopwords
from conf import config

In [5]:
train = pd.read_csv(config.train_path, sep='\t')
train.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [6]:
text = train.review.tolist()
max_len = 0
df_len_list = []
for i in range(len(text)):
    texts = []
    texts.extend(text[i].split(' '))
    max_len = max(max_len, len(texts))
    df_len_list.append(len(texts))
sorted_len = sorted(df_len_list)
print('0.9,len:{}, 0.99,len:{}, 0.999, len:{}'.format(sorted_len[int(len(sorted_len) * 0.9)],
                                                          sorted_len[int(len(sorted_len) * 0.99)],
                                                          sorted_len[int(len(sorted_len) * 0.999)]))

0.9,len:458, 0.99,len:913, 0.999, len:1066

In [3]:
# def get_subject(text):
#     item = text.split("_")
#     return int(item[1])
# train["subject"] = train["id"].apply(get_subject)

In [4]:
def clean_text(origin_text):
    # 去掉html标签
    text = BeautifulSoup(origin_text).get_text()
    # 去掉标点符号和非法字符
    text = re.sub("[^a-zA-Z]", " ", text)
    # 将字符全部转化为小写，并通过空格符进行分词处理
    words = text.lower().split()
    # 去停用词
    stop_words = set(stopwords.words("english"))
    meaningful_words = [w for w in words if w not in stop_words]
    # 将剩下的词还原成str类型
    cleaned_text = " ".join(meaningful_words)
    return cleaned_text

In [5]:
train["review"] = train["review"].apply(lambda x: clean_text(x))
train["review"].to_csv(config.text_path, index=False, header=False)
train.head()

       id  sentiment                                             review
0  5814_8          1  stuff going moment mj started listening music ...
1  2381_9          1  classic war worlds timothy hines entertaining ...
2  7759_3          0  film starts manager nicholas bell giving welco...
3  3630_4          0  must assumed praised film greatest filmed oper...
4  9495_8          1  superbly trashy wondrously unpretentious explo...

In [6]:
df = train[["sentiment", "review"]]
df.to_csv(config.train_path, index=False)

In [7]:
# # 数据扩充
# # https://www.kaggle.com/utathya/imdb-review-dataset
# imdb = pd.read_csv('../data/imdb_master.csv', encoding='latin-1')
# imdb = imdb.drop(['Unnamed: 0', 'type', 'file'], axis=1)
# imdb.columns = ["review", "sentiment"]
# imdb = imdb[imdb.sentiment != 'unsup']
# imdb['sentiment'] = imdb['sentiment'].map({'pos': 1, 'neg': 0})
# imdb.head()

                                              review  sentiment
0  Once again Mr. Costner has dragged out a movie...          0
1  This is an example of why the majority of acti...          0
2  First of all I hate those moronic rappers, who...          0
3  Not even the Beatles could write songs everyon...          0
4  Brass pictures (movies is not a fitting word f...          0

In [8]:
# train = pd.concat([train, imdb], sort=False).reset_index(drop=True)
# train["review"] = train["review"].apply(lambda x: clean_text(x))

In [9]:
# df = train[["sentiment", "review"]]
# df.to_csv('../data/new_train.csv', index=False)

In [10]:
text = train.review.tolist()
max_len = 0
df_len_list = []
for i in range(len(text)):
    texts = []
    texts.extend(text[i].split(' '))
    max_len = max(max_len, len(texts))
    df_len_list.append(len(texts))
print(max_len)

1416

In [11]:
sorted_len = sorted(df_len_list)
sorted_len[int(len(sorted_len)*0.9)]

235

In [12]:
train['sentiment'].value_counts()

1    37500
0    37500
Name: sentiment, dtype: int64

In [13]:
test = pd.read_csv(config.origin_test_path, sep='\t')
test["review"] = test["review"].apply(lambda x: clean_text(x))
test.to_csv(config.test_path, index=False)
test.head()

         id                                             review
0  12311_10  naturally film main themes mortality nostalgia...
1    8348_2  movie disaster within disaster film full great...
2    5828_4  movie kids saw tonight child loved one point k...
3    7186_2  afraid dark left impression several different ...
4   12128_7  accurate depiction small time mob life filmed ...